@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "Claims";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover table-bordered">
    <tr>
        <td>Subject Name</td>
        <td>Issuer</td>
        <td>Type</td>
        <td>Value</td>
    </tr>
     @foreach (var item in Model)
    {
    <tr>
    <td>@item.Subject.Name</td>
    <td>@item.Issuer</td>
    <td>@item.Type</td>
    <td>@item.Value</td>
    </tr>
    }
</table>