@{
    ViewData["Title"] = "AddSlider";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">افزودن اسلایدر</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method="post" enctype="multipart/form-data">

        <div class="card-body">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" id="link" name="link" placeholder="‌لینک" />
            </div>

             <div class="form-group">
                <label for="exampleInputFile"></label>
                <div class="input-group">
                    <div class="custom-file">
                        <fieldset  class="form-group">
                            <label   for="basicInput">تصاویر </label>
                            <input  type="file" name="File" accept="image/*">
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">ثبت</button>
            </div>
        </div>
    </form>
</div>